@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
	font-family: lato;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }



body{
	 margin: 0;
	 background-color: #1e272e;
 }



/* ----------- RESPONSIVE SMALL (landscape phones, 576px and 767px) ------------ */
@media screen and (min-width: 576px) and (max-width: 767px){  

  .indexmain{
   width: 576px;
   height: 922px;
   background-image: url(../img/shangindex3.jpg);
   background-position: center;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
 }

.secundariasmain{
  width: 576px;
   height: 2300px;
   background-color: #000000;
  background-position: center;
   margin-left: auto;
   margin-right: auto;
}




header{
   display: flex;
   justify-content: space-between;
   width: 576px;
   height: 100px;
   background-color: #000000;
   align-items: center;
   padding: 3px;
 }


.logo{
   margin-top: 1px;
   margin-left: 10px;
  

}

.shangchi{
  display: none;
   margin-left: 1px;
   color: #ffffff;
 }

section{
   width: 576px;
   height: 772px;
 }

iframe{
   width: 90%;
  height: 90%;
  margin-left: 30px;
  margin-top: 15px;
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.8fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "relevamiento"
        "footer";
}


footer {
   width: 576px;
   height: 50px;
   background-color: #000;
   display: flex;
   justify-content: space-between;
 }

.logosisq{
   display: flex;
   align-items: center;
   justify-content: left;
   margin-left: 25px;
 }

.disney{
   display: flex;
   align-items: center;
   justify-content: right;
   margin-right: 25px;
 }
.trailer {
font-size: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration:none;
  margin-left: 15px;

}
.trailer a{
  color: black;
  text-decoration:none;
}

p {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
   font-size: 26px;
   text-decoration: none;
 }

nav a{
   text-decoration:none;
   color:inherit;
   font-size:15px;
   align-items: center;
   margin-top: 7px;
   margin-left: 1px;
   margin-right: 10px;
   padding-right: 10px;
 } 

nav li{
   display: inline-flex;
  font-size: 21px;
  width: 112px;
  height: 40px;
  margin-top: 20px;
  background-color: #000;
  color: #ffffff;
  background-color: #000000;
 }

nav li:hover{
   background: #000000;
  color: #1E53C5;
 }


.galeria {
width: 570px;
  height: 2150px;
  align-items: center;
  margin-top: 40px;
  margin-left: 150px;
}


.personajes {
  width: 570px;
  height: 1450px;
  align-items: center;
  margin-top: 5px;
  margin-left: 140px;
  margin-right: auto;
  margin-bottom: auto;
}



.trivia {
  color: #ffffff;
  margin-left: 254px;
padding-top: 30px;
padding-bottom: 2px;
font-size: 28px;
}

.form {
  width: 500px;
  height: 2000;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.titulo {
  color: white;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.cajas{
  width: 500px;
  background-color: #ffffff;
  font-size: 19px;
   border-color: #1E53C5;
     border-radius: 5px;
}

.postcreditos {
  color: white;
  font-size: 19px;
}

.boton {
  font-size: 19px;
  width: 180px;
  height: 60px;
  margin-top: 15px;
  background-color: #000;
  border-width: 3px;
  border-color: #1E53C5;
  border-style: solid;
  border-radius: 5px;
  color: #000000;
  background-color: #1E53C5;
}

.boton:hover {
  background: #000000;
  color: #1E53C5;

}
}

.nombre {
  font-size: 14px;
  color: white;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  padding: 17px;
  text-decoration:none;
}

.nombre a{
  text-decoration:none;
}








/* ----------- RESPONSIVE MEDIUM (tablets, 768px and 991px) ------------ */
@media screen and (min-width: 768px) and (max-width: 991px){


	.indexmain{
   width: 768px;
   height: 922px;
   background-image: url(../img/shangindex2.jpg);
   background-position: center;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
 }

.secundariasmain{
	width: 768px;
   height: 1400px;
   background-color: #000000;
	background-position: center;
   margin-left: auto;
   margin-right: auto;
}




header{
	 display: flex;
	 justify-content: space-between;
	 width: 768px;
	 height: 100px;
	 background-color: #000000;
	 align-items: center;
	 padding: 10px;
 }

.logo{
	 margin-top: 15px;
	 margin-left: 20px;
	 display: flex;
	 align-items: center;
 }

.shangchi{
display: none;
	 margin-left: 10px;
	 color: #ffffff;
 }

section{
	 width: 768px;
	 height: 772px;
 }

iframe{
   width: 90%;
  height: 90%;
  margin-left: 40px;
  margin-top: 15px;
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.8fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "relevamiento"
        "footer";
}


footer {
	 width: 768px;
	 height: 50px;
	 background-color: #000;
	 display: flex;
	 justify-content: space-between;
 }

.logosisq{
	 display: flex;
	 align-items: center;
	 justify-content: left;
	 margin-left: 25px;
 }

.disney{
	 display: flex;
	 align-items: center;
	 justify-content: right;
	 margin-right: 25px;
 }
.trailer {
font-size: 20px;
	color: inherit;
	display: flex;
	align-items: center;
margin-left: 110px;
}
.trailer a{
	color: black;
  text-decoration:none;
}

p {
	font-size: 18px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

h3{
	 font-size: 26px;
	 text-decoration: none;
 }

nav a{
   text-decoration:none;
   color:inherit;
   font-size:18px;
   align-items: center;
   margin-top: 7px;
   margin-left: 8px;
 } 

nav li{
   display: inline-flex;
  font-size: 21px;
  width: 140px;
  height: 40px;
  margin-top: 20px;
  align-content: center;
  background-color: #000;
  color: #ffffff;
  background-color: #000000;
 }

nav li:hover{
	 background: #000000;
  color: #1E53C5;
 }


.galeria {
width: 768px;
  height: 1200px;
  align-items: center;
  margin-top: 40px;
  margin-left: 100px;
}


.personajes {
  width: 768px;
  height: 800px;
  align-items: center;
  margin-top: 132px;
  margin-left: 90px;
}



.trivia {
	color: #ffffff;
	margin-left: 254px;
padding-top: 30px;
padding-bottom: 2px;
font-size: 28px;
}

.form {
  width: 700px;
  height: 1300;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.titulo {
  color: white;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.cajas{
	width: 710px;
	background-color: #ffffff;
	font-size: 19px;
	 border-color: #1E53C5;
	   border-radius: 5px;
}

.postcreditos {
  color: white;
  font-size: 19px;
}

.boton {
  font-size: 19px;
  width: 180px;
  height: 60px;
  margin-top: 15px;
  background-color: #000;
  border-width: 3px;
  border-color: #1E53C5;
  border-style: solid;
  border-radius: 5px;
  color: #000000;
  background-color: #1E53C5;
}

.boton:hover {
  background: #000000;
  color: #1E53C5;

}
}














/* ----------- RESPONSIVE LARGE (desktops, 992px and 1199px) ------------ */
@media screen and (min-width: 992px) and (max-width: 1199px){


.indexmain{
   width: 992px;
   height: 922px;
   background-image: url(../img/shangindex.jpg);
   background-position: center;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
 }

.secundariasmain{
  width: 992px;
   height: 922px;
   background-color: #000000;
  background-position: center;
   margin-left: auto;
   margin-right: auto;
}




header{
   display: flex;
   justify-content: space-between;
   width: 992px;
   height: 100px;
   background-color: #000000;
   align-items: center;
   padding: 10px;
 }

.logo{
   margin-top: 15px;
   margin-left: 20px;
   display: flex;
   align-items: center;
 }

.shangchi{
  
   margin-left: 10px;
   color: #ffffff;
 }

section{
   width: 992px;
   height: 772px;
 }

 h2{
  font-size: 22px;
   text-decoration: none;
   margin-left: 20px;
 }

 iframe{
   width: 90%;
  height: 90%;
  margin-left: 50px;
  margin-top: 15px;
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.8fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "relevamiento"
        "footer";

}


footer {
   width: 992px;
   height: 50px;
   background-color: #000;
   display: flex;
   justify-content: space-between;
 }

.logosisq{
   display: flex;
   align-items: center;
   justify-content: left;
   margin-left: 25px;
 }

.disney{
   display: flex;
   align-items: center;
   justify-content: right;
   margin-right: 25px;
 }
.trailer {
font-size: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

}
.trailer a{
  color: black;
  text-decoration:none;
}

.nombre {
  font-size: 14px;
  color: white;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

h3{
   font-size: 22px;
   text-decoration: none;
 }

nav a{
   text-decoration:none;
   color:inherit;
   font-size:18px;
   align-items: center;
   margin-top: 7px;
   margin-left: 13px;
 } 

nav li{
   display: inline-flex;
  font-size: 22px;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  background-color: #000;
  color: #ffffff;
  background-color: #000000;
 }

nav li:hover{
   background: #000000;
  color: #1E53C5;
 }


.galeria {
width: 920px;
  height: 732px;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}


.personajes {
  width: 920px;
  height: 640px;
  align-items: center;
  margin-top: 132px;
  margin-left: auto;
  margin-right: auto;
}



.trivia {
  color: #ffffff;
  margin-left: 254px;
padding-top: 30px;
padding-bottom: 20px;
font-size: 24px;
}

.form {
  width: 690px;
  height: 550;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.titulo {
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.cajas{
  width: 690px;
  background-color: #ffffff;
  font-size: 15px;
   border-color: #1E53C5;
     border-radius: 5px;
}

.postcreditos {
  color: white;
  font-size: 15px;
}

.boton {
  font-size: 15px;
  width: 140px;
  height: 40px;
  margin-top: 15px;
  background-color: #000;
  border-width: 3px;
  border-color: #1E53C5;
  border-style: solid;
  border-radius: 5px;
  color: #000000;
  background-color: #1E53C5;
}

.boton:hover {
  background: #000000;
  color: #1E53C5;

}
}












/* ----------- RESPONSIVE X-LARGE (large desktops, 1200px and up) ------------ */
@media screen and (min-width: 1200px) and (max-width: 1400px){ 




.indexmain{
   width: 1200px;
   height: 922px;
   background-image: url(../img/shangindex.jpg);
   background-position: center;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
 }

.secundariasmain{
  width: 1200px;
   height: 1122px;
   background-color: #000000;
  background-position: center;
   margin-left: auto;
   margin-right: auto;
}




header{
   display: flex;
   justify-content: space-between;
   width: 1200px;
   height: 100px;
   background-color: #000000;
   align-items: center;
   padding: 10px;
 }

.logo{
   margin-top: 15px;
   margin-left: 20px;
   display: flex;
   align-items: center;
 }

.shangchi{
  
   margin-left: 10px;
   color: #ffffff;

 }

nav li{
   display: inline-flex;
  font-size: 18px;
  width: 140px;
  height: 40px;
  margin-top: 20px;
  margin-left: 40px;
justify-content: center;
  background-color: #000;
  color: #ffffff;
  padding-right: 80px;
 }

section{
   width: 1200px;
   height: 772px;
 }

iframe{
   width: 90%;
  height: 90%;
  margin-left: 65px;
  margin-top: 15px;
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.8fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "relevamiento"
        "footer";

}


footer {
   width: 1200px;
   height: 50px;
   background-color: #000;
   display: flex;
   justify-content: space-between;
 }

.logosisq{
   display: flex;
   align-items: center;
   justify-content: left;
   margin-left: 25px;
 }

.disney{
   display: flex;
   align-items: center;
   justify-content: right;
   margin-right: 25px;
 }
.trailer {
font-size: 28px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

}
.trailer a{
  color: black;
  text-decoration:none;
}

p {
  font-size: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
   font-size: 30px;
   text-decoration: none;
 }

nav a{
   text-decoration:none;
   color:inherit;
   font-size:22px;
   align-items: center;
   margin-top: 7px;
   margin-left: 23px;
 } 



nav li:hover{
   background: #000000;
  color: #1E53C5;
 }


.galeria {
width: 920px;
  height: 830px;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}


.personajes {
  width: 920px;
  height: 600px;
  align-items: center;
  margin-top: 132px;
  margin-left: auto;
  margin-right: auto;
}



.trivia {
  color: #ffffff;
  margin-left: 254px;
  margin-bottom: 1px;
padding: auto;
font-size: 32px;
}

.form {
  width: 690px;
  height: 1050px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.titulo {
  color: white;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.cajas{
  width: 690px;
  background-color: #ffffff;
  font-size: 23px;
   border-color: #1E53C5;
     border-radius: 5px;
}

.postcreditos {
  color: white;
  font-size: 23px;
}

.boton {
  font-size: 23px;
  width: 140px;
  height: 40px;
  margin-top: 15px;
  background-color: #000;
  border-width: 3px;
  border-color: #1E53C5;
  border-style: solid;
  border-radius: 5px;
  color: #000000;
  background-color: #1E53C5;
}

.boton:hover {
  background: #000000;
  color: #1E53C5;

}
}





